---

- hosts: all
  become: true
  tasks:    
    - name: Install https server
      apt: 
        name: apache2
        state: present
        update_cache: yes

    - name: copy html file
      copy: 
        src: index.html
        dest: /var/www/html/index.html

    - name: Change apache config file 
      include_role:
        name: app_config_change

    - name: restart the service
      service:
        name: apache2
        state: restarted
      when: portinfo.changed 










